/*--------------------------------------------------------------
# Variables
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# General Elements
--------------------------------------------------------------*/
.btn {
  padding: 0 0.7rem; }

.callto-action-btn {
  margin-top: 2rem; }

.purchase-button > .btn {
  background-color: #f48134; }

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
.top-menu-area .logo img.custom-logo {
  width: 150px;
  height: auto; }
.top-menu-area .site-name {
  color: #0066AC; }

.navbar-expand-md .navbar-collapse {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
  .navbar-expand-md .navbar-collapse ul li {
    margin: 15px 0;
    padding: 0 15px; }
    .navbar-expand-md .navbar-collapse ul li:last-child {
      border: 1px solid transparent;
      border-radius: 5px;
      background-color: #F4813A; }
      .navbar-expand-md .navbar-collapse ul li:last-child a {
        color: #FFF; }
      .navbar-expand-md .navbar-collapse ul li:last-child:hover {
        background-color: #FF9800; }
        .navbar-expand-md .navbar-collapse ul li:last-child:hover > a {
          color: #0066AC; }

.search__title p {
  color: #FFF; }

.section--padding {
  padding-top: 80px;
  padding-bottom: 80px; }

.content_block3 {
  padding: 50px 0; }
  .content_block3 .area_image.offset-image-bottom {
    margin-bottom: -50px; }

.card-area {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(30%, transparent), color-stop(0%, #28324E));
  background: linear-gradient(transparent 30%, #28324E 0%);
  padding-bottom: 50px; }

.news .news__content {
  min-height: auto !important;
  height: unset;
  padding: 30px;
  overflow: hidden; }
  .news .news__content h4 {
    height: 60px; }
  .news .news__content p {
    margin: 0 0 10px 0; }

.intro,
.card-area,
.intro-features,
.call-to-action {
  margin-top: 100px; }

.intro-features .row {
  margin-top: 80px; }

.footer-area a {
  color: #FFF; }
.footer-area .widget_custom_html:not(:last-child) {
  margin-bottom: 20px; }

/*--------------------------------------------------------------
# Ninja Forms
--------------------------------------------------------------*/
.nf-before-form-content {
  margin-bottom: 20px !important; }

.nf-error-msg,
.ninja-forms-req-symbol {
  color: #0066AC !important; }

.nf-form-content label span,
.nf-form-content .form-group p.label span {
  font-size: 1.5rem !important; }

.nf-form-content .list-select-wrap .nf-field-element > div,
.nf-form-content input:not([type=button]),
.nf-form-content textarea {
  margin: 0 !important;
  padding: 0 20px !important;
  width: 100% !important;
  height: 48px !important;
  background-color: white !important;
  border: 1px solid #e7e7e7 !important;
  border-radius: 4px !important;
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  outline: none !important;
  font-size: 16px !important;
  line-height: 48px !important;
  color: #9e9e9e !important; }

.nf-form-content button,
.nf-form-content input[type=button],
.nf-form-content input[type=submit] {
  display: inline-block !important;
  position: relative !important;
  margin: 0 !important;
  padding: 0 0.7rem !important;
  min-width: 170px !important;
  background: #0066ac !important;
  text-transform: capitalize !important;
  text-align: center !important;
  vertical-align: middle !important;
  line-height: 50px !important;
  font-size: 15px !important;
  font-weight: 500 !important;
  color: #fff !important;
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
  -webkit-transition: 0.3s ease !important;
  transition: 0.3s ease !important;
  border: none !important;
  border-radius: 100px !important;
  -webkit-user-select: none !important;
     -moz-user-select: none !important;
      -ms-user-select: none !important;
          user-select: none !important; }

.nf-error.field-wrap .nf-field-element:after {
  background: #0066AC !important;
  font-size: 1rem !important;
  height: 45px !important;
  width: 45px !important;
  line-height: 45px !important; }

.label-right .nf-field-element {
  width: 95% !important; }

.label-right .nf-field-label {
  width: 5% !important; }

/*--------------------------------------------------------------
# ReDoc
--------------------------------------------------------------*/
.redoc-wrap div[role="search"] svg {
  display: none; }

/*--------------------------------------------------------------
# DocsPress
--------------------------------------------------------------*/
.docspress-single {
  padding-left: 15px;
  padding-right: 15px; }

.docspress-single-sidebar {
  margin-left: 15px;
  width: 260px;
  background-color: #fafafa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  overflow-x: hidden; }
  .docspress-single-sidebar form[role="search"] input {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-top-style: initial;
    border-right-style: initial;
    border-left-style: initial;
    border-top-color: initial;
    border-right-color: initial;
    border-left-color: initial;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    font-size: 13px;
    color: #333333;
    background-color: transparent;
    border-width: 0px 0px 1px;
    -o-border-image: initial;
       border-image: initial;
    border-bottom: 1px solid #e1e1e1;
    line-height: 45px;
    height: 45px;
    -webkit-box-shadow: none;
            box-shadow: none;
    outline: none; }

.docspress-nav-list li {
  display: inline-block;
  vertical-align: middle;
  width: auto; }
  .docspress-nav-list li a {
    font-family: Montserrat, sans-serif;
    text-overflow: ellipsis;
    font-weight: 400;
    font-size: 15px;
    color: #555;
    text-transform: none;
    line-height: 26px; }

.docspress-single-breadcrumbs {
  display: none; }

header.entry-header h1 {
  margin-bottom: 50px;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 1.85714em;
  line-height: 1.6em;
  color: #32329f; }

.entry-content table th:first-child {
  min-width: 200px; }

/*--------------------------------------------------------------
# Media Queries
--------------------------------------------------------------*/

/*# sourceMappingURL=inesdevhub-custom-style.css.map */